<div class="backpack_h1_bg">
  <center><h1>Backpack</h1></center>
</div>

<center><div class="items">
  <center><div class="style_item_h2">
    <h2>Items</h2>
  </div></center>
  <div class="backpack_div"><%= (image_tag('apple_r.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('berry.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('cheese.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('cherry.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('cookie.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('corn.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('grapes.png', width: '80px', height: '80px'))%></div>
  <div class="backpack_div"><%= (image_tag('cake.png', width: '80px', height: '80px'))%></div>
</div></center>
