<h1>Backpack#show</h1>

<div class="backpack_div"><%= link_to(image_tag('brocolil.png', width: '120px', height: '200px')) %></div>
<div class="backpack_div"><%= link_to(image_tag('brocolot.png', width: '120px', height: '200px')) %></div>
<div class="backpack_div"><%= link_to(image_tag('brocodile.png', width: '120px', height: '200px'))%></div>
<div class="backpack_div"><%= link_to(image_tag('tomtom.png', width: '120px', height: '200px'))%></div>
<div class="backpack_div"><%= link_to(image_tag('bluebeary.png', width: '120px', height: '200px'))%></div>